@font-face{
    font-family:myFont;
    src: url(../Files/Fonts/BADABB__.TTF)
}

.Website-Header{
    display:flex;
    align-items: center;
    justify-content: center;

}

.Header-Title{
    font: 4em myFont;
}
#main-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
#container{
    height:500px;
    width:500px;
    border: 20px solid black;
    display:flex;
    flex-wrap: wrap;
}

.boxes{
    height: calc(500px/16);
    width: calc(500px/16);
    background-color: aquamarine;
}