 /*'Etch-a-Sketch edits*/
@font-face{
    font-family:myFont;
    src: url(../Files/Fonts/BADABB__.TTF)
}
@font-face{
    font-family: Latos;
    src: url(../Files/Fonts/Latos/Lato-Regular.ttf)
}

.Website-Header{
    display:flex;
    align-items: center;
    justify-content: center;

}
.Header-Title{
    font: 4em myFont;
}

 /*The main Etch a sketch box editing*/
#main-container{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
#container{
    height:500px;
    width:500px;
    border: none;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Resolution{
    margin-right: auto;
}

html, body{
    background-color: #ededed;
}

 /*Settings panel*/
.settingspanel{
    margin-bottom: 20px;
}

/*Width*/
.Input-Field-One{
    height: 35px;
    width: 35px;
}

.Grid{
    font-family: Latos;
}

/*Height*/
.Input-Field-Two{
    height: 35px;
    width: 35px;
}



